<header style="background-image:url(assets/img/sky.JPG) ;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-3 col-md-3">
                <div>
                    <img [src]="myimage" alt="" style="width: 150px ;">
                </div>
            </div>
            <div class= "col-md-9 col-md-9 col-md-9 text-end">
                <div class="menu">
                    <ul>
                        <li routerLink='/readerhome'>Home</li>
                        <li routerLink='/readerbooklist'>Book List</li>
                        <li routerLink='/login'> Logout</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="about">

    <div class="flex">
 
       <div class="image">
          <img src="assets/img/about-img.jpg" alt="">
       </div>
 
       <div class="content">
          <h3>why choose us?</h3>
          <p>The contents in eBooks can be updated by the authors and publishers anytime, as these are cloud-based, and thus it saves the cost of reprinting various editions of the book and saves time and money. eBooks allow the writers to experiment and edit their pre-submitted work and are published faster. Also, eBooks can preserve the books.</p>
          <p>With the advancement of technology, book reading has been made easy.</p>
       </div>
 
    </div>
 
 </section>