.card{
    padding: 40px;
    top:5%;
    left:20%;
    bottom:10%;
    width: 1000px;
    background: rgb(197, 230, 199);
    background:linear-gradient(90deg, rgb(180, 223, 183)0%, rgb(79, 125, 168)100%);
}



header{
    padding: 5px;
}



.menu ul{

    padding:0;
    margin:0;
}

.menu ul li{
    list-style-type:none;
    display: inline-block;
    font-size:25px;
    margin-left: 30px;
margin-top: 40px;
}

.menu ul li:hover{
    color:white;
    cursor:pointer;
    transition:0.4s ease-out;

}