<header style="background-image:url(assets/img/sky.JPG) ;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-3 col-md-3">
                <div>
                    <img [src]="myimage" alt="" style="width: 150px ;">
                </div>
            </div>
            <div class= "col-md-9 col-md-9 col-md-9 text-end">
                <div class="menu">
                    <ul>
                        <li routerLink='/readerhome'>Home</li>
                        <li routerLink='/readerbooklist'>Book List</li>
                        <li routerLink='/about'>About Us</li>
                        <li routerLink='/login'> Logout</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="about">

    <div class="flex">
 
       <div class="image">
          <img src="assets/img/book-4.JPG" alt="">
       </div>
 
       <div class="content">
          <h3>Book of Night</h3>
          <p>In Charlie Hall’s world, shadows can be altered, for entertainment and cosmetic preferences—but also to increase power and influence. You can alter someone’s feelings—and memories—but manipulating shadows has a cost, with the potential to take hours or days from your life. Your shadow holds all the parts of you that you want to keep hidden—a second self, standing just to your left, walking behind you into lit rooms. And sometimes, it has a life of its own.</p>
          <p>Charlie is a low-level con artist, working as a bartender while trying to distance herself from the powerful and dangerous underground world of shadow trading. She gets by doing odd jobs for her patrons and the naive new money in her town at the edge of the Berkshires. But when a terrible figure from her past returns, Charlie’s present life is thrown into chaos, and her future seems at best, unclear—and at worst, non-existent. Determined to survive, Charlie throws herself into a maelstrom of secrets and murder, setting her against a cast of doppelgängers, mercurial billionaires, shadow thieves, and her own sister—all desperate to control the magic of the shadows.</p>
        </div>
 
    </div>
 
 </section>