<header style="background-image:url(assets/img/sky.JPG) ;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-3 col-md-3">
                <div>
                    <img [src]="myimage" alt="" style="width: 150px ;">
                </div>
            </div>
            <div class= "col-md-9 col-md-9 col-md-9 text-end">
                <div class="menu">
                    <ul>
                        <li routerLink='/readerhome'>Home</li>
                        <li routerLink='/readerbooklist'>Book List</li>
                        <li routerLink='/about'>About Us</li>
                        <li routerLink='/login'> Logout</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="about">

    <div class="flex">
 
       <div class="image">
          <img src="assets/img/book-6.JPG" alt="">
       </div>
 
       <div class="content">
          <h3>One Indian Girl</h3>
          <p>One Indian Girl is a novel by the Indian author Chetan Bhagat.[1] The book is about a girl named Radhika Mehta, who is a worker at the Distressed Debt group of Goldman Sachs, an investment bank.</p>
          <p>The book begins with Radhika making arrangements regarding her marriage with Brijesh Gulati who works as a software engineer for Facebook in San Francisco. She later revealed her childhood and life in Delhi, as a studious, shy and nerdy girl who came from a middle-class family. Radhika has an elder sister, Aditi who was the more beautiful, outgoing, and popular one at their school. She also communicated her thoughts and decisions to her inner judgemental voice or "mini-me" as called.</p>
           <p>While trying to engage in conversation with Brijesh, she was unexpectedly contacted by Debashish "Debu" Sen, her ex-boyfriend, who wished to meet her, to which she refused. Then, he suddenly arrived at the resort in Goa where her marriage ceremony was being held. She was further shocked when he infiltrated the puja bhajan ceremony at the wedding reception. She later met him in the hotel gym and admonished him for his past behavior.</p>
        </div>
 
    </div>
 
 </section>