.contact form{
    margin:0 auto;
    background:linear-gradient(90deg, rgb(182, 211, 222)0%, rgb(79, 125, 168)100%);
    border-radius: .5rem;
    border:var(--border);
    padding:2rem;
    max-width: 40rem;
    margin:0 auto;
    text-align: center;
 }
 
 .contact form h3{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color:var(--black);
 }
 
 .contact form .box{
    margin:1rem 0;
    width: 100%;
    border:var(--border);
    background-color: rgb(198, 220, 228);
    padding:1.2rem 1.4rem;
    font-size: 1rem;
    color:var(--black);
    border-radius: .5rem;
 }
 
 .contact form textarea{
    height: 10rem;
    resize: none;
 }