.card{
    padding: 40px;
    top:10%;
    left:50%;
    
    background: rgb(137, 214, 142);
    background:linear-gradient(90deg, rgb(137, 214, 142)0%, rgb(140, 115, 190)100%);
    //color: white;
}

header{
    padding: 5px;
}



.menu ul{

    padding:0;
    margin:0;
}

.menu ul li{
    list-style-type:none;
    display: inline-block;
    font-size:25px;
    margin-left: 30px;
margin-top: 40px;
}

.menu ul li:hover{
    color:white;
    cursor:pointer;
    transition:0.4s ease-out;

}


.card.form-control.ng-touched.ng-invalid{
    border: 1px solid red;

}

.card.form-control.ng-touched.ng-valid{
    border: 1px solid green;

}