<header style="background-image:url(assets/img/sky.JPG) ;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-3 col-md-3">
                <div>
                    <img [src]="myimage" alt="" style="width: 150px ;">
                </div>
            </div>
            <div class= "col-md-9 col-md-9 col-md-9 text-end">
                <div class="menu">
                    <ul>
                        <li routerLink='/readerhome'>Home</li>
                        <li routerLink='/readerbooklist'>Book List</li>
                        <li routerLink='/about'>About Us</li>
                        <li routerLink='/login'> Logout</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="about">

    <div class="flex">
 
       <div class="image">
          <img src="assets/img/book-1.JPG" alt="">
       </div>
 
       <div class="content">
          <h3>Harry Potter and the Sorcerer's Stone</h3>
          <p>This article is about the book. For the film, see Harry Potter and the Philosopher's Stone (film). For other uses, see Harry Potter and the Philosopher's Stone (disambiguation).
            Harry Potter and the Philosopher's Stone
            Harry Potter and the Philosopher's Stone Book Cover.jpg
            Cover for one of the earliest UK editions
            Author	J. K. Rowling
            Illustrator	Thomas Taylor (first edition)
            Country	United Kingdom
            Language	English
            Series	Harry Potter
            Release number	1st in series
            Genre	Fantasy
            Publisher	Bloomsbury (UK)
            Publication date	26 June 1997
            Pages	223 (first edition)
            ISBN	0-7475-3269-9
            Followed by	Harry Potter and the Chamber of Secrets 
            Harry Potter and the Philosopher's Stone is a 1997 fantasy novel written by British author J. K. Rowling. The first novel in the Harry Potter series and Rowling's debut novel, it follows Harry Potter, a young wizard who discovers his magical heritage on his eleventh birthday, when he receives a letter of acceptance to Hogwarts School of Witchcraft and Wizardry. Harry makes close friends and a few enemies during his first year at the school and with the help of his friends, he faces an attempted comeback by the dark wizard Lord Voldemort, who killed Harry's parents, but failed to kill Harry when he was just 15 months old.</p>
       </div>
 
    </div>
 
 </section>