<header style="background-image:url(assets/img/sky.JPG) ;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-3 col-md-3">
                <div>
                    <img [src]="myimage" alt="" style="width: 150px ;">
                </div>
            </div>
            <div class= "col-md-9 col-md-9 col-md-9 text-end">
                <div class="menu">
                    <ul>
                        <li>Home</li>
                        <li routerLink='/bookform' >Create Book</li>
                        <li routerLink='/booklist'>Book List</li>
                        <li routerLink='/login'> Logout</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<br><br>

<section class="homeimage" id="homeimage" >
    <div class="image-container" style="text-align:center ;">
<div style="text-align:center; ">
    <h1 style="font-size:xx-large ;"> Welcome to Digital Book Application </h1> <br>
    
    <nav>
        <button routerLink='/bookform' style="width: 300px; height: 40px; background: rgb(179, 227, 182);
        background:linear-gradient(90deg, rgb(54, 157, 201)0%, rgb(43, 10, 107)100%); color: white;">Create a New Book</button> <br><br>
    </nav>
    
    <router-outlet></router-outlet>
    
    <nav>
        <button routerLink='/booklist' style="width: 300px; height: 40px; background: rgb(179, 227, 182);
        background:linear-gradient(90deg, rgb(54, 157, 201)0%, rgb(43, 10, 107)100%); color: white; ">Book List</button> <br><br>
    </nav>
    <router-outlet></router-outlet>
    
    <nav>
        <button routerLink='/login' style="width: 300px; height: 40px; background: rgb(179, 227, 182);
        background:linear-gradient(90deg, rgb(54, 157, 201)0%, rgb(43, 10, 107)100%); color: white; ">Logout</button> <br><br>
    </nav>
    <router-outlet></router-outlet>
    
    </div>
    </div>
</section>


    <section class="home" id="home">
        <div class="image-container">
              <img [src]="book1" alt="" style="width: 150px ;">
              <img [src]="white" alt="" style="width: 30px; height:5px;">
              <img [src]="book2" alt="" style="width: 147px ;">
              <img [src]="white" alt="" style="width: 30px; height:5px;">
              <img [src]="book3" alt="" style="width: 150px ;">
              <img [src]="white" alt="" style="width: 30px; height:5px;">
              <img [src]="book4" alt="" style="width: 150px ;">
              <img [src]="white" alt="" style="width: 30px; height:5px;">
              <img [src]="book5" alt="" style="width: 150px ;">
              <img [src]="white" alt="" style="width: 30px; height:5px;">
              <img [src]="book6" alt="" style="width: 150px ;">
        </div>      
    </section>



    <div class="header-1">
        <div class="flex">
           <div class="share">
              <a href="#" class="fa fa-facebook-f"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-instagram"></a>
              <a href="#" class="fa fa-linkedin"></a>
           </div>
        </div>
     </div>